$text: #333;
$text-low: #717171;

$background-gray: #e0e0e0;
$background-gray-low: #f0f0f0;
$border: #b2b2b2;
$border-low: #eee;

$color-icons: #5f5f5f;
$blue: #0198d1;
$orange: #fc6e52;

$accepted: #0198D1;
$inbox: #d25139;
$reference: #999;
$done: #46D336;
$urgent: #c00;
$revision: #FF9c34;
$very-high: #F85C36;
$high: #FF9C34;
$low: #04CEBA;
$very-low: #0198D1;
$normal: #48AE3D;
$develop: #313d51;
$no-estimate: #e4a929;
$delayed: #9254b7;

$alert-red: #ED5565;
$alert-green: #8CC152;
$alert-yellow: #E4C344;
$alert-orange: #FC6E51;
